# Core functionality - changes here should be rare!
/src/app.py                   @RayVilaca
/src/backend/database.py      @RayVilaca
/src/backend/routers/auth.py  @RayVilaca

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RayVilaca
